.btn1 {
  margin-right: 6px;
}
.btn2 {
  margin-right: 6px;
}
.btn3 {
  margin-right: 6px;
}
.btn4 {
  margin-right: 6px;
}
.btn5 {
  margin-right: 6px;
}

.nv {
  background-color: rgb(163, 39, 39);
}
